body{
   background-color:#060c11;
      
     color: white;
     margin: 0;
     padding: 0; 
   
 }
 .banner{
     height: 55vh;
     width:100%;
     position: relative;  
 }
 .banner:hover{
     cursor: pointer;
     opacity: 0.8;
     
 }
 
 .bannerimage{
   width: 100%;
   height: inherit;
   opacity: 0.3;
}
    
 
 img:hover{
     opacity: 0.7;
   
     
 }
 video{
    width: 100%;
    height: 100%;
 }
 .video-content{
 
     height: 40vh;
     width: 100%;
     display: flex;
 
     flex-direction: column;
 }
 .btns{
    
     height: 10vh;
     display: flex;
 
     justify-content: space-between;
    
     margin: 2vh;
 }
 .recent{
    margin-top: 1vh;
    margin-left: 1vh;
 }
 .view-all{
    margin-top: 1vh;
    margin-right: 1vh;
    cursor: pointer;
 }
 .view-all:hover{
    color:plum;
 }
 .bannerclass{
     height: 25vh;
     width:100%;
     cursor: pointer;
     background-color: black;
 }
 
 .details{
    margin-top: 50px;
    position: absolute;
    top: 10vh;
    margin-left: 2%;
    width: 30%;
 }
 .details h1{
    font-size:35px;
 }
 .span{
    margin-top: 60px;
    color: rgb(17, 9, 9);
 }
 
 
 .videos{
   margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
 
 }