main{
    display: flex;
}
.sec-first{
    width: 60%;
    height: 100vh;
    background-color: black;
    position: relative;
}
img{
    width:100%;
    height: inherit;
    opacity: 0.3;
   
}
.logo{
    position: absolute;
    top:8vh;
}

.sec-first h1{
    font-size: 105px;
    margin: 132px 0 0 50px;
    color:red;
}
.sec-first div{
    font-size: 35px;
    color: white;
    margin: 12px 0 0 55px;
    width: 350px;
}
.sec-first button{
   
    border: none;
    color: white;
    background-color:#dcdcdc00;
    font-size: large;
    position: absolute;
    bottom: 10vh;
    left: 15vh;
    text-decoration: underline;
    /* margin: 170px 0 0 50px; */
    cursor: pointer;
}
.sec-second{
    background-color: #060c11;
    color: white;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.sec-second form h1{
    font-size: 45px;
    color: powderblue;
    text-transform: uppercase;
}
.sec-second form input{
    padding: 7px 1px;
    width: 260px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(18, 18, 41);
    border: none;
    border-bottom: 1px solid white;
}
.sec-second form input.submit{
     margin-top: 30px;
    padding: 7px 17px;
    width: 100px;
    height: 30px;
    color: white;
    background-color:#949ed6;
    border-radius: 30px;
   border: none;

    cursor: pointer; 
}
.sec-second form input.submit:hover{
    background-color: black;
    color:white;
}
.register form{
    margin-top: 10px;
}
#btn-circle{
    border-radius: 50%;
    width: 50px;
    font-size: large;
    height: 50px;
    background-color: rgb(160, 158, 158);
}
::placeholder {
    color: white;
}