#container{
    width: 550px;
    height:520px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:black;
    display: flex;
    margin:8% 30%;
    color: aliceblue;
    flex-direction: column;
    border-radius: 2%;
    z-index: 1;
}
#wrapper{
    display: flex;
    justify-content: space-between;

}
h2{
    margin-left: 3%;
}
#close{
    margin-right: 3%;
    margin-top: 2%;
    font-size: 20px;
    cursor: pointer;
    color:white;
    opacity:0.8;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red;
    border-radius: 50%;
   
    width:30px;
}
#close:hover{
    opacity: 1;
}
#video-input{
    border: 1px solid gray;
    color: antiquewhite;
    border-radius: 3px;
    padding: 20px;
    background-color: transparent;
    margin-left: 3%;
    margin-right: 3%;
}
h1{
    margin-left: 3%;
}
#tittle-textarea{
    margin-left: 3%;
    margin-right: 3%;
    background-color:black;
    color: white;
}
#desc-textarea{
    margin-left: 3%;
    margin-right: 3%;
    background-color:black;
    color: white;
    margin-top: 5%;
}
.main-div {
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
}

.main-div label {
    color: gray;
    font-size: 14px;
}

.main-div select {
    background-color: black;
    color: white;
    font-size: 17px;
    border: 0;
}

.div-container {
    margin-left: 50px;
    border: 0;
}

#first-div {
    margin-left: 3%;
}
#img-input{
    border: 1px solid gray;
    color: antiquewhite;
    border-radius: 3px;
    padding: 10px;
    background-color: transparent;
    margin-left: 3%;
    margin-right: 3%;
}
#button-save {
    height: 2.4rem;
    width: 8rem;
    margin-left: 41%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    background-color: rgb(196, 135, 253);
    color: white;
    border-radius: 25px;
    border: 0;
}